{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AjaxTest</title>
    <script type="text/javascript" src="{% static 'jquery.min-1.12.4.js' %}"></script>
</head>
<body>
    <input type="button" onclick="AjaxSubmit();" value="提交">
    <p id="status_code"> 当前返回值：{{ code }}</p>
    <script>
        function AjaxSubmit() {
            var host = '127.0.0.1';
            var port = '8000';
            $.ajax({
                url:"{% url 'home' %}",
                type:'get',
                data: {host:host, port:port},
                success: function(arg) {
                    // alert(arg);
                    // alert(typeof arg);
                    // alert(arg.code);
                    $('#status_code').html(arg.code);
                }
            });
        }
    </script>
</body>
</html>